


<button class="relative overflow-hidden px-8 py-4  text-white font-bold rounded-lg border border-white-500 bg-transparent group">
    <span class="absolute left-0 top-0 h-full w-0 bg-orange-500 transition-all duration-500 group-hover:w-full"></span>
    <span class="relative  text-black z-10">READ-MORE</span>
  </button>