 <section class="p-[100px]  border-t-2 text-center">

<h6>OUR INSTAGRAM</h6>
<a class="leading-relaxed" href="mailto:@jackrestaurant">@jackrestaurant</a>
<p class="leading-[80px]">instagram has returned invalid data</p>


 </section>