 <section class="p-[90px]   border-t-2   text-center">

<h6>OUR INSTAGRAM</h6>
<a class="leading-relaxed" href="mailto:@jackrestaurant">@jackrestaurant</a>
<h5 class="leading-[50px] md:text-1xl ">instagram has returned invalid data</h5>


 </section>